#home-hero-img img {
    width: 100%;
    height: 50%;
    transform: scale(.5);
}

.home-hero-img img {
    border-radius: 0;
}

@media screen and (max-width: 719px) {
    #home-hero-img img {
        width: calc(100vw);
    }

    .home-hero-img-custom {
        /* top: 15%; */
    }
}
.about-version {
    color: aliceblue;
    font-weight: bold;
    background-color: #00cfc8;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

.about-fail {
    background-color: #ef233c;
}
.about-success {
    background-color: #7bdff2;
}
.friend-tag {
    margin-right: 10px;
}
.custon-sidebar-message {
    color: #00cfc8;
}
.sidebar-message a {
    color: #00cfc8;
}
/* .aurora-style-cancel:before {
    content: "\e624";
}
.aurora-poster-cancel:before {
    content: "\e624";
} */

.home-hero-img-custom {
    width: 100%;
}

.home-hero-img-custom img {
    position: absolute;
    bottom: 0;
}

/* 对于所有的标题，都使用该字体 */
@font-face {
    font-family: 'long_cangregular';
    src: url('./LongCang-Regular.ttf')
}

h1, h2, h3, h4, h5, h6 {
    font-family: long_cangregular;
}
h1 span, h2 span, h3 span, h4 span, h5 span {
    font-family: "";
} 
